<div class="container mt-5">
    <ng-container *ngIf="!letters.length">
        <h1>No letters</h1>
    </ng-container>
    <div *ngIf="letters.length" class="container mt-5">
        <h1 class="mb-5">Letters</h1>
        <ul class="list-group">
            <li *ngFor="let letter of letters; index as i" [class.d-flex]="!letter.isOpen"
                [class.list-group-item-open]="letter.isOpen" class="list-group-item justify-content-between">
                Name: {{ letter.name }}
                <div class="collapse letter-collapse" [class.show]="letter.isOpen">
                    <div class="card card-body">
                        <p>ID: {{ letter.id }}</p>
                        <p>Profession : {{ letter.profession }}</p>
                        <p>About : {{ letter.about }}</p>
                        <p>Draft : {{ letter.draft }}</p>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-dark mr-3" (click)="letter.isOpen = !letter.isOpen">Close
                            Details</button>
                        <button type="button" class="btn btn-warning"
                            (click)="editLetter(letter, i, $event)">Edit</button>
                    </div>
                </div>
                <div class="letters-buttons-wrapper">
                    <button *ngIf="!letter.isOpen" type="button" class="btn btn-info mr-3"
                        (click)="letter.isOpen = !letter.isOpen">View Details</button>
                    <button *ngIf="!letter.isOpen" type="button" class="btn btn-danger"
                        (click)="removeLetter(letter)">Delete</button>
                </div>
            </li>
        </ul>
    </div>
    <button type="button" class="btn btn-primary mt-5" (click)="openModal()">Create new letter</button>
</div>
<app-modal *ngIf="isModalOpen" [isEdit]="isEdit" [letters]="letters" [letter]="letter"
    [saveEditableIndex]="saveEditableIndex" (closeEvent)="closeModal()"></app-modal>