<div class="container">
    <h1>No letters</h1>
    <button type="button" class="btn btn-primary">Create new letter</button>
</div>
<div class="container">
    <form [formGroup]="letterForm">
        <div class="form-group">
            <label for="letterFormID">ID</label>
            <input type="email" class="form-control" id="letterFormID" formControlName="id">
        </div>
        <div class="form-group">
            <label for="letterFormProfession">Profession</label>
            <input type="password" class="form-control" id="letterFormProfession" formControlName="profession">
            <small *ngIf="!profession.valid &&  (profession.dirty || profession.touched)"
                class="form-text text-muted form-error-msg">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="letterFormName">Name</label>
            <input type="password" class="form-control" id="letterFormName" formControlName="name">
            <small *ngIf="!name.valid &&  (name.dirty || name.touched)"
                class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="letterFormAbout">About</label>
            <textarea class="form-control" id="letterFormAbout" rows="3" formControlName="about"></textarea>
            <small *ngIf="!about.valid &&  (about.dirty || about.touched)"
                class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <!-- <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button type="submit" class="btn btn-primary" [disabled]="!letterForm.valid">Submit</button>
    </form>
</div>